<style>
    a:link {
        text-decoration: none;
        color: black;
    }

    a:visited {
        text-decoration: none;
        color: black;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <br />
        <img src="~/img/Logomakr_7qm02q.png" width="300" height="100" />
        @Html.Partial("NavBar")
        <div class="jumbotron">
            <div>

                @RenderBody()
            </div>
        </div>
    </div>

    @RenderSection("scripts", false)

    @*<footer class="center">
            &copy; Guldrullen AB
        </footer>*@
</body>
</html>