@using L3.Models;
@model L3.Models.PeopleCreateVM
@addTagHelper*, Microsoft.AspNetCore.Mvc.Taghelpers


    <h1> Create </h1>
    <form asp-action="create" asp-controller="people">
        <label asp-for="Name"></label>
        <br>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
        <br>
        <label asp-for="Email"></label>
        <br>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"> </span>
        <br>
        <Label asp-for="AcceptTerms"></Label>
        <input asp-for="AcceptTerms"/>
        <br>
        <input type="submit" value="Submit">
    </form>
