@using L3.Models;
@model PeopleIndexVM[]
@{
    ViewBag.Title = "People";
}

<h1> Home </h1>
<ul>
    @foreach (var person in Model)
    {
        if (person.ShowAsHighLighted)
        {
            <li> @Html.Partial("SpecificPerson", person)</li>
        }
        else
        {
            <li> @Html.Partial("SpecificPerson", person)</li>
        }
    }
</ul>

