@model CustomersIndexVM[]
@{
    ViewBag.Title = "Index";
}

@foreach (var cust in Model)
{
    <p id="info" onmouseover="doStuff(@cust.Id)"> Company name: @cust.CompanyName </p>
    <div id="divResult"></div>
}


<script>
    function doStuff(id) {
        var divResult = document.getElementById("divResult");
        var html = "<b>Company ID: </b>";
        divResult.innerHTML = html;
    }
</script>
