@model CustomersIndexVM[]
@{
    ViewBag.Title = "Index";
}
<table>
    @foreach (var cust in Model)
    {
        <tr>
            <td onmouseover="showInfo(@cust.Id,'@cust.CompanyName', '@cust.City')" onmouseout="hideInfo()"> Company name: @cust.CompanyName </td>
        </tr>
    }
</table>
<br>
@*<div id="divResult"></div>*@


@section scripts
{
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script>
        function showInfo(id, companyName, city) {
            var divResult = document.getElementById("divResult");
            var html = id + ". " + companyName + " in " + city;
            divResult.innerHTML = html;
        }

        function hideInfo() {
            var divResult = document.getElementById("divResult");
            var html = "";
            divResult.innerHTML = html;
        }
    </script>
}
