<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="~/css/guld.jpg" style="width:50px;height:50px" />
        </div>
        <ul class="nav navbar-nav">
            <li><a asp-controller="Movies" asp-action="Index">Home</a></li>
            <li><a asp-controller="Movies" asp-action="Create">Create</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>